@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  width: 100%;
}
body,html{
  height: 100%;
}

*{
  box-sizing: border-box;
  /* border: 1px solid black; */
}
.data{
  transition: height 2s ease-in-out;
}
@keyframes scooter {
  0%{
    bottom: 0;
  }
  100%{
    bottom: 0.1rem;
  }
}
@keyframes move {
  0%{
    left: 0;
  }
  10%{
    left: 0;
  }
  100%{
    left: 100%;
  }
}
.scooter{
  animation: scooter 0.5s infinite alternate ease-in-out ;
  display: inline;
  left: 1rem;

  
}
.start{
  letter-spacing: -0.5rem;
}
.move{
  animation: move 5s ease-in forwards;
  /* border-left: 2px solid black; */
}


.line{
  animation: widthinc 2s ease-in forwards;
  border-top: 1px solid black;
}

@keyframes widthinc {
    0%{
      width: 0;
    }
    100%{
      width: 100%;
    }
}

p{
  font-weight: 300;
  font-size: 1.2rem;
  text-overflow: ellipsis;
}
.data h1{
    font-size: 2rem;
}
.data h2{

    font-size: 1.5rem
}
.data h3{

    font-size: 1.17rem
}
.data h4{

    font-size: 1rem
}
.data h5{

    font-size: 0.83rem
}
.data h6{

    font-size: 0.67rem
}

ul{
  margin-left: 2rem;
  list-style-type: disc;
}

.code-con{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding: 0 4rem;
  width: 100%;
}
.code-con > div{
  /* overflow-y: scroll; */
  width: 90%;
  overflow: hidden;
  padding: 1rem !important;
}
.code-con > div > span{
  padding-top: 1rem !important;
  display: block !important;
  width: 100% !important;
  overflow-x: scroll !important;
}
.code-con > div > span::-webkit-scrollbar{
  width: 1rem;
}
.code-con > div > span::-webkit-scrollbar-track{
  background-color: transparent;
}
.code-con > div > span::-webkit-scrollbar-thumb{

  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 1rem;
}
.code-con  code{
  font-size: 1.2rem !important;
  -webkit-font-smoothing: antialiased !important;
  

  width: 90%;
}
.sc-aXZVg{
  position: absolute !important;
  top: 10px !important;
}
@media (max-width:750px) {
  .code-con{
    padding: 0;
  }
  .code-con > div{
    width: 100% !important;
  }
}

